.about {
    height: 88vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-heading {
    font-weight: bolder;
    font-size: 4rem;
}